
__pycache__/
*.py[cod]
*$py.class


*.so


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST




*.manifest
*.spec


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


*.mo
*.pot


*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


instance/
.webassets-cache


.scrapy


docs/_build/


target/


.ipynb_checkpoints


profile_default/
ipython_config.py


.python-version









celerybeat-schedule


*.sage.py


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.spyderproject
.spyproject


.ropeproject


/site


.mypy_cache/
.dmypy.json
dmypy.json


.pyre/



**/prem_seasons_fixture_id/**
**/test_data/**
**/misc/**
**/backup_files/**
**/venv/**
api_key.txt
api_key_python_anywhere.txt
api_key_list.txt
/ml_model_build_random_forest/difference_between_models.xlsx
/ml_model_build_random_forest/~$difference_between_models.xlsx